global
   log /dev/log local0
   log /dev/log local1 notice
   chroot /var/lib/haproxy
   stats timeout 30s
   user haproxy
   group haproxy
   daemon
defaults
log global
mode http
option httplog
option dontlognull
timeout connect 5000
timeout client 50000
timeout server 50000


frontend http_front
bind *:80
stats uri /haproxy?stats
default_backend http_back


backend http_back
balance roundrobin
#balance leastconn
mode http
{% for balancing_server in haproxy_balancing_servers %}
    server {{ 'server'+ loop.index | string }} {{ balancing_server }}:8080 maxconn 30000 check
{% endfor %}