server {
    listen       {{ nginx_listen_port }};
    server_name  {{ nginx_server_name }};

    location / {
                root /usr/share/nginx/html/app/;
                index  index.html index.htm;
        }

}
