vrrp_script chk_haproxy {
   script "killall -0 haproxy"   
   interval 2                    
   weight 2                      
}

vrrp_instance VIP_1 {
   interface {{ keepalived_bind_interface }}                
   state MASTER
   virtual_router_id 51          
   priority {{ keepalived_priority }}                 
   virtual_ipaddress {
       {{ keepalived_vip }} dev {{ keepalived_bind_interface }} 
   }
   track_script {
       chk_haproxy
   }
}